<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :text %><br>
    <%= f.text_area :text, {:class => "form-control"} %>
  </div>
  <div class="field form-group">
    <%= f.label :source %><br>
    <%= f.text_field :source, {:class => "form-control"} %>
  </div>
  <div class="field form-group">
    <%= f.label :source_link %><br>
    <%= f.text_field :source_link, {:class => "form-control"} %>
  </div>
  <div class="field form-group">
    <%= f.label :zen_link %><br>
    <%= f.text_field :zen_link, {:class => "form-control"} %>
  </div>
  <div class="actions form-group">
    <%= f.submit nil,{:class => "btn btn-default"}%>
  </div>
<% end %>
