<div class="preloader"></div>
  
    <! -- ******************** MASTHEAD SECTION ******************** -->  
  <main id="top" class="masthead" role="main">
    <div class="container">
 
      <h1><strong>"<%= @quote.text %>"</strong> <br>
      - <%= @quote.source %></h1>

      <div class="action">
        <%= button_to('MORE ZEN', root_url, {:method => :get, :class => "btn btn-success btn-lg"}) %>
      </div>

      <div class="links">
        <p>
          <%= link_to('SOURCE', @quote.source_link, {:class => "scrollto", :target => "new window"}) unless @quote.source_link.to_s.empty? %>
          <%= link_to('ZEN', @quote.zen_link, {:class => "scrollto"}) unless @quote.zen_link.to_s.empty? %>
          <%= link_to('PERMALINK', @quote) %>
        </p>
      </div>


 
    </div><! --/container -->
  </main><! --/main -->

